@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding-bottom: 100px;
}

html,
body {
  font-family: 'Mukta', sans-serif;
  width: 100%;
}

body {
  padding: 5rem 0;
}

footer {
  background-color: #001524;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

p {
  height: 25px;
  align-items: center;
}

.btn-add,
.btn-reset {
}

/* Containers */

.input-fields-container {
  padding-bottom: 2rem;
}

/* Social icons styling */

.fab {
  color: #fff;
  margin: 1rem;
}

.fab:hover {
  transform: scale(1.1);
}

/*Remove arrows from input fields */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Other classes */

.hidden {
  display: none !important;
}

.input-field {
  margin-bottom: 1rem;
}

.invalid-tooltip {
  font-size: 0.65rem !important;
}

@media (max-width: 767px) {
  body,
  input,
  select,
  button,
  h6 {
    font-size: 0.8rem !important;
  }

  .invalid-tooltip {
    font-size: 0.6rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body,
  input,
  select,
  button,
  h6 {
    font-size: 0.7rem !important;
  }

  .invalid-tooltip {
    font-size: 0.6rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1350px) {
  body,
  input,
  select,
  button,
  h6 {
    font-size: 0.85rem !important;
  }

.para-flexbox {
  display: flex;
  justify-content: space-between;
}

/* Footer */

.footer-text p {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

/* Social icons */

#social-icons-container {
  margin-top: 0.2rem;
}

#social-icons {
  width: 7%;
}
